In [1]:
!git clone https://github.com/buryne/capstone-project.git

Cloning into 'capstone-project'...
remote: Enumerating objects: 412, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 412 (delta 26), reused 11 (delta 11), pack-reused 340
Receiving objects: 100% (412/412), 1.08 MiB | 10.23 MiB/s, done.
Resolving deltas: 100% (118/118), done.

In [2]:
!wget https://raw.githubusercontent.com/buryne/capstone-project/app-dev/ML/dataset/Dataset_wisata.csv

--2023-12-21 06:49:29--  https://raw.githubusercontent.com/buryne/capstone-project/app-dev/ML/dataset/Dataset_wisata.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 362805 (354K) [text/plain]
Saving to: ‘Dataset_wisata.csv’

Dataset_wisata.csv  100%[===================>] 354.30K  --.-KB/s    in 0.006s

2023-12-21 06:49:29 (54.7 MB/s) - ‘Dataset_wisata.csv’ saved [362805/362805]

In [3]:
#untuk pengolahan data
import pandas as pd
import numpy as np
import requests
from io import StringIO

#URL raw file di Github
Github_url = "https://raw.githubusercontent.com/buryne/capstone-project/app-dev/ML/dataset/Dataset_wisata.csv"

#Mendapatkan konten file CSV dari Github
response = requests.get(Github_url)
data = StringIO(response.text)

#Load dataset
wisata = pd.read_csv(data)

In [4]:
#Melihat gambaran data wisata
wisata

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Coordinate,Lat,Long,Rating_Count
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,46,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,1068271528,18
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,46,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,1068171245,25
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,46,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,1068335377,19
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,45,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,1068951559,21
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,45,"{'lat': -6.12419, 'lng': 106.839134}",-612419,106839134,24
...,...,...,...,...,...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000,44,"{'lat': -7.4338593, 'lng': 112.7199058}",-74338593,1127199058,20
433,434,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...,Taman Hiburan,Surabaya,0,46,"{'lat': -7.291346799999999, 'lng': 112.7398218}",-72913468,1127398218,24
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0,44,"{'lat': -7.2752955, 'lng': 112.7549381}",-72752955,1127549381,15
435,436,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...,Taman Hiburan,Surabaya,0,46,"{'lat': -7.294330299999999, 'lng': 112.7617534}",-72943303,1127617534,21
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...,Tempat Ibadah,Surabaya,10000,48,"{'lat': -7.2420758, 'lng': 112.7368158}",-72420758,1127368158,35

In [5]:
wisata.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Coordinate', 'Lat', 'Long', 'Rating_Count'],
      dtype='object')

In [6]:
wisata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    int64
 7   Coordinate    437 non-null    object
 8   Lat           437 non-null    int64
 9   Long          437 non-null    int64
 10  Rating_Count  437 non-null    int64
dtypes: int64(6), object(5)
memory usage: 37.7+ KB

In [7]:
#menampilkan missing value pada dataset wisata
wisata.isnull().sum()

Place_Id        0
Place_Name      0
Description     0
Category        0
City            0
Price           0
Rating          0
Coordinate      0
Lat             0
Long            0
Rating_Count    0
dtype: int64

In [8]:
import os
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

In [9]:
wisata['City'].head()

0    Jakarta
1    Jakarta
2    Jakarta
3    Jakarta
4    Jakarta
Name: City, dtype: object

In [10]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

#Replace NaN with an empty string
wisata['Place_Name'] = wisata['Place_Name'].fillna('')

# Concatenate 'Place_Name', 'City', 'Category', and 'Rating' into a single text column
wisata['Combined_Info'] = wisata['Place_Name'] + ' ' + wisata['City']

# Menggunakan TfIdfVectorizer untuk mengonversi deskripsi menjadi vektor fitur
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(wisata['Combined_Info'])

# Menghitung skor kesamaan kosinus antar tempat wisata
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

# Construct the required TF-IDF matrix by fitting and transforming the data
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(wisata['Combined_Info'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(437, 706)

In [11]:
#Construct a reverse map of indices and Place_Name
indices = pd.Series(wisata.index, index=wisata['Place_Name']).drop_duplicates()

In [12]:
def get_recommendations(city='City', num_recommendations=10):
    # Filter data for the specified city
    city_data = wisata[wisata['City'] == city]

    # If no places found in the specified city, return an empty DataFrame
    if city_data.empty:
        return pd.DataFrame(columns=['Place_Name', 'City'])

    # Randomly select a tourist place from the specified city
    random_place_index = np.random.choice(city_data.index)
    random_place_features = city_data.loc[random_place_index, 'Combined_Info']

    # Transform the random place features using the TF-IDF vectorizer
    random_place_tfidf = tfidf_vectorizer.transform([random_place_features])

    # Calculate cosine similarity between the random place and all tourist places in the same city
    cosine_similarities = linear_kernel(random_place_tfidf, tfidf_matrix[city_data.index, :]).flatten()

    # Get indices of similar tourist places based on cosine similarity scores
    similar_places_indices = cosine_similarities.argsort()[:-num_recommendations-1:-1]

    # Return the most similar destinations (Place_Name and City)
    return city_data[['Place_Name', 'City']].iloc[similar_places_indices]

In [111]:
import joblib
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, Flatten
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification

# Custom Callback
class MyCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        # Check the accuracy
        if logs.get('accuracy') is not None and logs.get('accuracy') > 0.83:
            # Stop if threshold is met
            print("\nAccuracy is higher than 83%, canceling training!")
            self.model.stop_training = True

callbacks = MyCallback()

def create_model(input_dim):
    model = Sequential()
    model.add(Dense(64, input_dim=input_dim, activation='relu'))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    return model

def train_model(model, X_train_scaled, y_train, X_val_scaled, y_val):
    optimizer = Adam(learning_rate=0.001)
    model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

    # Train the model
    history = model.fit(X_train_scaled, y_train, epochs=10, batch_size=32, validation_data=(X_val_scaled, y_val), callbacks=[callbacks])

    # Evaluasi model di atas data validasi terpisah
    _, val_accuracy = model.evaluate(X_val_scaled, y_val)
    print(f'Validation Accuracy: {val_accuracy}')

    # Print model loss and accuracy
    print("Model Loss:", history.history['loss'][-1])
    print("Model Accuracy:", history.history['accuracy'][-1])

    return model

def save_model(model, save_path='Recommendation_Model_Fix.h5'):
    model.save(save_path)
    print(f'Model saved to {save_path}')

# Penambahan data pelatihan
X, y = make_classification(n_samples=1000, n_features=20, n_classes=2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardisasi fitur untuk meningkatkan konvergensi model
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Create model
model = create_model(X_train_scaled.shape[1])

# Train model
trained_model = train_model(model, X_train_scaled, y_train, X_val_scaled, y_val)

Epoch 1/10
25/25 [==============================] - 1s 15ms/step - loss: 0.5839 - accuracy: 0.7325 - val_loss: 0.5267 - val_accuracy: 0.7700
Epoch 2/10
25/25 [==============================] - 0s 5ms/step - loss: 0.4546 - accuracy: 0.8200 - val_loss: 0.4603 - val_accuracy: 0.8000
Epoch 3/10
18/25 [====================>.........] - ETA: 0s - loss: 0.3732 - accuracy: 0.8681
Accuracy is higher than 83%, canceling training!
25/25 [==============================] - 0s 5ms/step - loss: 0.3869 - accuracy: 0.8600 - val_loss: 0.4179 - val_accuracy: 0.8300
7/7 [==============================] - 0s 4ms/step - loss: 0.4179 - accuracy: 0.8300
Validation Accuracy: 0.8299999833106995
Model Loss: 0.38685402274131775
Model Accuracy: 0.8600000143051147

In [ ]:
# Save the model h5
save_model(trained_model)

# Download the model
from google.colab import files
files.download("Recommendation_Model_Fix.h5")

Model saved to Recommendation_Model_Fix.h5

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(